@charset "UTF-8";

body {
    background-image: linear-gradient(var(--cor01), var(--cor02));
}

section {
    width: 990px;
}

div#imagem {
    float: left;
    width: 50%;
    height: 100%;
}

div#formulario {
    float: right;
    width: 50%;
}