@charset "UTF-8";

body {
    background-image: linear-gradient(var(--cor01), var(--cor02));
}

section {
    width: 990px;
    height: 500px;
}

div#imagem {
    float: right;
    width: 50%;
    height: 100%;
}

div#formulario {
    float: left;
    width: 50%;
}

div#formulario h1 {
    font-size: 2em;
}

div#formulario p {
    font-size: 1em;
}