@charset "UTF-8";

/* Paleta de Cores 
    Verde: #03A696
    Azul: #253659
*/

:root {
    --cor01: #03A696;
    --cor02: #253659;
    --cor03: #1d2942;
    --cor04: #4667a8;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #03A696;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section {
    position: absolute;
    background-color: white;
    border-radius: 30px;

    width: 250px;
    min-height: 500px;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    overflow: hidden;

    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
}

div#imagem {
    height: 175px;
    background-image: url("../imagens/predio-login.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
}

div#formulario {
    padding: 10px;
    display: block;
}

div#formulario h1 {
    text-align: center;
    padding: 10px;
}

div#formulario p {
    font-size: 0.8em;
}

div.fundo {
    background-color: var(--cor01);
    margin: 5px;
    border-radius: 5px;
}

div.fundo  i {
    color: white;
}

div.fundo > input {
    height: 30px;
    border: none;
    border-radius: 5px;
}

input, a {
    margin: 5px;
    padding: 0px 5px;
}

input.butao, a {
    display: block;
    margin: 5px auto;
    width: 100%;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input#entrar {
    background-color: var(--cor02);
    color: white;
}

input#entrar:hover {
    background-color: var(--cor03);
}

a#esqueci {
    border: 2px solid var(--cor02);
    text-align: center;
    text-decoration: none;
    color: #1d2942;
    height: 42px;
}

a#esqueci > i {
    font-size: 0.8em;
}

a#esqueci:hover {
    background-color: var(--cor04);
}
